<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="mapper.AdminMapper">
	
	<select id="validateManager" parameterType="model.Manager" resultType="int">
		select count(1) from t_manager where userName = #{userName} and password = #{password}	
	</select>
	
	<select id="getManagerInfo" parameterType="model.Manager" resultType="model.Manager">
		select * from t_manager where userName = #{userName}
	</select>
		
</mapper>
